# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# Debug
*.pdb

*.exp

# DUB
.dub
docs.json
__dummy.html
docs/
__dub_cache__/

#build
bin/
.reggae
*.ninja*
compile_commands.json

confector-test-library

# Code coverage
*.lst
/confector

# LLMs
.junie/plans
.output.txt