:root
{
  --black: black;
  --white: #E2E8DD;
  --text-plain: black;
  --text-hero: #95A3A4;
  --accent-dark: #414535;
  --accent-light: #799475;
  --direct-dark: #97919A;
  --direct-light: #B7D1DA;
  
  background-color: var(--white);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,
body
{
  margin: auto;
  height: 100%;
  padding: 0;
}
.container
{
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}
.menu
{
  display: block;
  top: 0;
  width: 100%;
  background-color: var(--accent-dark);
}
.menu-item
{
  display: inline-block;
  a:visited
  {
    color: var(--accent-light);
  }
  a:hover {
    color: #D470FF;
  }
}
.repository-list
{
  border-block: 0.5rem solid;
  writing-mode: horizontal-tb;
  display: grid;
  padding: 5px;
}
.repository-item
{
  display: grid;
  column-gap: 10px;
  
  grid-template-columns: 0.1fr auto 1fr;
}
textarea
{
  resize: vertical;
  width: 100%
}
.site-title
{
  margin-left: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  color: var(--text-hero);
}
.item-link
{
  margin-left: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: var(--white);
  text-decoration: none;
}
.item-link-right
{
  float: right;
  margin-right: 30px;
}
.content
{
  padding: 40px 30px;
}
.footer
{
  font-size: 12px;
}
a:link {
  color: green;
}
a:visited {
  color: purple;
}
a:hover {
  color: #D470FF;
}